<div class="container">
  <div class="card-login">
    <div class="imgCont">
      <img class="mainImg" src="../../assets/img/DiariVent.png" alt="" />
    </div>
    <div class="contLogText">
      <h1 class="logText">Account <br />Login</h1>
    </div>
    <div class="contForm">
      <input class="logInput" type="text" />
      <input class="logInput" type="text" />
      <button class="logBtn" (click)="goToShops()">
        <h1 class="textLogBtn">Login</h1>
      </button>
    </div>
    <div class="contOption">
      <h2 class="textOpt margText">
        No account? <b class="oColor">Sign in</b>
      </h2>
      <h2 class="textOpt">Forgot <b class="oColor">User/Password</b></h2>
    </div>
  </div>
  <div class="social-bar">
    <div class="social-btn"></div>
    <div class="social-btn"></div>
    <div class="social-btn"></div>
  </div>
</div>
