* {
  color: #333333;
}

.container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e8e8e8;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleSection {
  width: 100%;
  height: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.titleText {
  margin: 0px;
  font-weight: 550;
}

.iconUser {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.btnAdd {
  margin-top: 10px;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  color: #e8e8e8;
  background-color: #18768e;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
